spring:
  application:
    name: JobSeekPro

  datasource:
    url: jdbc:postgresql://localhost:5432/jobseekdb
    username: jobseekuser
    password: jobseekpass
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true


  elasticsearch:
    uris: http://localhost:9200
    connection-timeout: 5s
    socket-timeout: 30s


  data:
    redis:
      host: localhost
      port: 6379
      timeout: 60000


server:
  port: 8080


logging:
  level:
    root: INFO
    com.ft.searchengine: DEBUG
    org.springframework.data.elasticsearch: DEBUG